.battleship {
  position: absolute;
  top: 0;
  right: 0;
  height: 260px;
  width: 60px;
  background: black;
  border-radius: 3rem 3rem 2rem 2rem;
}

.battleship-vertical {
  transform: rotate(0deg) translateX(-5px) translateY(-203px);
}

.battleship-horizontal {
  transform: rotate(-90deg) translateX(96px) translateY(-110px);
}
