.ship {
  position: absolute;
  width: 70px;
  z-index: 98;
}

.ship.tray-ship:not(.non-draggable) {
  cursor: grab;
}

/** Ships on the board and all ships' images are not selectable / clickable */
.ship:not(.tray-ship),
.ship img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

/** Apply location corrections to keep ship centered in board */
.ship-vertical:not(.tray-ship, .dragging) {
  transform: translateY(-7px);
}

.ship-count {
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  transform: translateX(-50%);
}

.ship-count-zero {
  color: hsla(0, 80%, 42%, 1);
}
