.ship {
  position: absolute;
  width: 60px;
  background: red;
}

/** Apply location corrections to keep ship centered in board */
.ship-vertical:not(.tray-ship, .dragging) {
  transform: translateX(3px) translateY(-7px);
}
