.block-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("/img/block-panel-bg.jpg");
  background-size: contain;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity 0.75s ease-in-out;
  z-index: 999999;
}

.block-panel-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem 0;
  color: white;
}

:global(.block-panel-content .block-panel-text) {
  font-size: 2rem;
  font-weight: bold;
}

.block-panel-content * {
  text-align: center;
}

.block-panel-visible {
  opacity: 100%;
  user-select: initial;
  pointer-events: initial;
}
