.board {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  background-image: url("/img/board-bg.jpg");
  background-size: 100%;
  border: 1px solid hsla(0, 0%, 40%, 1);
}

.board-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 16%, 0.4));
}

.tile-row {
  display: flex;
}

.tile-row + .tile-row {
  border-top: 1px solid hsla(0, 0%, 70%, 1);
}
