.ship-tray {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  align-items: end;
  margin: 62px auto;
  grid-row-gap: 1rem;
  box-sizing: border-box;
}

.ship-tray-section {
  position: relative;
  width: 70px;
}

.ship-tray-section.tray-carrier {
  height: 340px;
}

.ship-tray-section.tray-battleship {
  height: 265px;
}

.ship-tray-section.tray-cruiser {
  height: 195px;
}

.ship-tray-section.tray-submarine {
  height: 195px;
}

.ship-tray-section.tray-destroyer {
  height: 130px;
}

.ship-tray-section.non-draggable {
  margin-bottom: 4.5rem;
}
