.ship-tray-wrapper {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  min-height: calc(340px + 2rem);
  box-sizing: border-box;
}

.ship-tray {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: end;
  margin: 0 auto;
  gap: 0 4rem;
  max-width: 100%;
  box-sizing: border-box;
}

.ship-tray-section {
  position: relative;
  width: 60px;
  box-sizing: border-box;
}

.ship-tray-section.tray-battleship {
  height: 265px;
}

.ship-tray-section.tray-submarine {
  height: 220px;
}

.ship-tray-section-count {
  margin-top: 5rem;
}
