.home-page-container {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 80%;
  padding: 1.5rem;
  margin: auto;
  gap: 0.25rem 0;
  background: hsla(0, 0%, 13%, 0.7);
  border: 1px solid black;
  border-radius: 0.5rem;
}

.name-inputs-container {
  display: flex;
  flex-direction: column;
}

.number-inputs-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0.5rem 0;
}

.ship-counts-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 2rem 0 1rem 0;
}

input {
  margin-top: 0.2rem;
  margin-right: auto;
  padding: 0.5rem;
  color: white;
  background: hsla(0, 0%, 10%, 1);
  border: 1px solid hsla(0, 0%, 30%, 1);
  border-radius: 0.25rem;
}
