.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.layout-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 4rem 4rem 1rem 4rem;
  background-image: url("img/bg.jpg");
  background-repeat: repeat;
  background-size: contain;
  box-sizing: border-box;
}
