.ship-count-selector-input-box {
  height: 30px;
  width: 30px;
  margin: 0.5rem 0 0 0;
  color: white;
  background: hsla(0, 0%, 10%, 1);
  border: 1px solid hsla(0, 0%, 30%, 1);
}

.ship-count-selector-input-box.input-box-selected {
  background: hsla(0, 65%, 48%, 1);
}
