.error-message {
  font-weight: bold;
  color: hsla(0, 80%, 42%, 1);
  font-size: 0.9rem;
  margin: 0.25rem 0 0 0;
  height: 20px;
}

.error-message.input-error-message {
  margin: 0.25rem 0 0 0.5rem;
}
