html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

#root {
  height: 100%;
  height: 100%;
}

.text-header1 {
  font-size: 3.5rem;
}

.text-header2 {
  font-size: 2.25rem;
}

.text-bold {
  font-weight: bold;
}

.color-white {
  color: white;
}

.color-primary {
  color: hsla(0, 65%, 45%, 1);
}
